# phpstorm project files
.idea

# netbeans project files
nbproject

# Mac DS_Store Files
.DS_Store

.env
.env.*.php
.env.php

# zend studio for eclipse project files
.buildpath
.project
.settings

/web/assets/*
/web/minify/*
/web/uploads/*
/web/backend
/web/index.php
/web/robots.txt

/backend/web

/web/node_modules/

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant
/html

# yii console commands
/yii
/yii_test
/yii_test.bat

# composer itself is not needed
/composer.phar
